// 播放时长转换计算
function formatDuration(duration) {
  // 毫秒数转换为秒数
  // console.log("duration",duration);
  var duractionSec = duration / 1000;
  var min = Math.floor(duractionSec / 60);
  var sec = Math.floor(duractionSec % 60);
  // 返回格式化后的时间
  return padLeft(min) + ":" + padLeft(sec);
}

// 时间格式化->2位->00
function padLeft(time) {
  time = time + "";
  // 1->001->01 24->0024->24 截取算法
  return ("00" + time).slice(time.length)
}

// 播放量格式化
function formatPlayCount(count) {
  var counter = parseInt(count);
  if (counter > 100000000) {
    return (counter / 100000000).toFixed(1) + "亿";
  } else if (counter > 10000) {
    return (counter / 10000).toFixed(1) + "万";
  } else {
    return counter + '';
  }
}

module.exports = {
  formatDuration: formatDuration,
  formatPlayCount: formatPlayCount
}
